* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  font: 18px helvetica;
  padding: 10px;
}

#cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.card {
  align-content: space-between;
  border: 1px solid #000;
  border-radius: 5px;
  display: flex;
  flex-basis: 170px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px;
}

.card img {
  max-width: 150px;
  flex: 1 1 100%;
}

.card span {
  background-color: #eee;
  flex: 1 1 100%;
  padding: 5px;
  text-align: center;
}
